# Entornos virtuales
.venv/
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc
.pytest_cache/

# Datos
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Archivos de entorno local
.env

# Ignorar archivos de Terraform dentro de la subcarpeta
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
