# Entornos virtuales
.venv/
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc
.pytest_cache/

# Datos
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Archivos de entorno local
.env